<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewBag.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <div class="title">
                Sport Shop
            </div>
        </div>

        <div id="categories">
            Some content goes here
        </div>

        <div id="content">
            @RenderBody()
        </div>

    </body>
</html>