@model SportShop.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Administration: login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Login</h2>

<p>Please login to get access to a admin panel.</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Login"/></p>
}
